[submodule "appsuite-core"]
	path = appsuite-core
	url = git@github.com:rslakra/appsuite-core.git
[submodule "appsuite-example"]
	path = appsuite-example
	url = git@github.com:rslakra/appsuite-example.git
[submodule "appsuite-hbase"]
	path = appsuite-hbase
	url = git@github.com:rslakra/appsuite-hbase.git
[submodule "appsuite-identity"]
	path = appsuite-identity
	url = git@github.com:rslakra/appsuite-identity.git
[submodule "appsuite-jdk"]
	path = appsuite-jdk
	url = git@github.com:rslakra/appsuite-jdk.git
[submodule "appsuite-metrics"]
	path = appsuite-metrics
	url = git@github.com:rslakra/appsuite-metrics.git
[submodule "appsuite-tools"]
	path = appsuite-tools
	url = git@github.com:rslakra/appsuite-tools.git
[submodule "appsuite-protocols"]
	path = appsuite-protocols
	url = git@github.com:rslakra/appsuite-protocols.git
[submodule "appsuite-spring"]
	path = appsuite-spring
	url = git@github.com:rslakra/appsuite-spring.git
[submodule "appsuite-tutor"]
	path = appsuite-tutor
	url = git@github.com:rslakra/appsuite-tutor.git
