<div class="bv-login-form">
		<div id="title" class="bv-login-title">
				<span>{{ ui.label.changePassword }}</span>
		</div>

		<div class="bv-top-block">
			<div class="bv-welcome-text">
				<!-- SHOW ERROR/SUCCESS MESSAGES -->
				<div id="messages" class="bv-login-error-text" ng-show="error.authError" ng-bind-html="error.authError"></div>
				<div id="messages" class="bv-change-password-error-text" ng-show="error.changePasswordError" ng-bind-html="error.changePasswordError"></div>
				<span style="color: red;" ng-hide="error.authError || error.changePasswordError || success">{{defaultMessage}}</span>
			</div>
		</div>
				
		<!-- Current Password -->
		<input
			type="password"
			name="current_pwd"
			class="bv-login-input-text"
			autocomplete="off"
			placeholder="{{ui.label.currentpwd}}"
			ng-model="user.currentpwd"
			autofocus>
<!-- 		<span class="bv-help-block"></span> -->

		<!-- New Password -->
		<input
			type="password"
			name="new_pwd"
			class="bv-login-input-text"
			autocomplete="off"
			placeholder="{{ui.label.newpwd}}"
			ng-model="user.newpwd">
<!-- 		<span class="bv-help-block"></span> -->

		<!-- Confirm New Password -->
		<input
			type="password"
			name="confirmed_pwd"
			class="bv-login-input-text"
			autocomplete="off"
			placeholder="{{ui.label.confpwd}}"
			ng-model="user.confpwd">
<!-- 		<span class="bv-help-block"></span> -->

<form name="form" novalidate autocomplete="off">

		<div class="bv-buttons-block">
			<button class="bv-login-button bv-float-right"
				ng-click="submitNewPassword()" ng-disabled='form.$invalid'>{{ui.label.save}}</button>
		</div>
</form>
</div>