<div class="login-form">
<form novalidate autocomplete="off">
	<div ng-switch on="form">
	    <div id="title" class="login-title">
				<span>{{ ui.label.forgotPassword }}</span>
		</div>
		<div name="form" ng-switch-default>
				<div class="top-block">
					<div class="welcome-text">
						<!-- SHOW ERROR/SUCCESS MESSAGES -->
						<div id="messages" class="login-error-text" ng-show="error.authError">{{error.authError}}</div>
						<span>{{ ui.label.confirm }}</span>
					</div>
				</div>
		
				<!-- User ID -->
				<input 
					type="text"
					name="user_id"
					class="login-input-text"
					autocomplete="off"
					placeholder="{{ui.label.username}}"
					ng-model="user.id"
					autofocus>
	
				<!-- Last Name -->
				<input
					type="text"
					name="last_name"
					class="login-input-text"
					autocomplete="off"
					placeholder="{{ui.label.lastname}}"
					ng-model="user.lastn">
		
				<!-- Email -->
				<input
					type="text"
					name="email_code"
					class="login-input-text"
					autocomplete="off"
					placeholder="{{ui.label.email}}"
					ng-model="user.emailaddr">
	
				<div class="buttons-block">
					<button type="submit" class="login-button float-right"
						ng-click="submitForgotPassword()" ng-disabled='form.$invalid'>{{ui.label.cont}}</button>
					<button type="submit"
						class="login-button-cancel login-button float-right"
						ng-click="cancelLogin()" ng-disabled='form.$invalid'>{{ui.label.cancel}}</button>
				</div>
		</div>
		<div class="login-return-form" ng-switch-when="second">
			<div class="top-block login-return">
					<div class="welcome-text">
						<span>{{ ui.label.yourPassHasBeenEmailed }}</span>
					</div>
				</div>
				<div class="buttons-block-center buttons-block">
					<button class="return-button float-center" ng-click="cancelLogin()">{{ ui.label.returnLogin }}</button>
				</div>
		</div>
	</div>
</form>
</div>